*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

header{
    background-color: #255ee9;
    padding: 0 10rem;
    height: 50px;
}

.logo{
    background-image: url(./img/logo.svg);
    float: left;
    background-size: contain;
    width: 17%;
    background-repeat: no-repeat;
    height: 80%;
    margin: 5px 0;
}

nav{
    float: left;
    margin: auto;
    width: 66%;
    text-align: center;
    margin-top: 2px;
    line-height: 40px;
}

.accedi{
    float: left;
    text-align: center;   
    width: 17%;
    margin-top: 2px;
    line-height: 40px;
}

.bottone{
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    vertical-align: middle;
}

.bottone-nero{
    background-color: black;
    border-radius: 15px;
    padding: 3px;
    vertical-align: middle;
    color: white;
}

a{
    text-decoration: none;
}

nav a{
    margin: 0 20px;
    color: white;
}

.contenitore-intestazione{
    background-image: url(./img/jumbo.png);
    width: 100%;
    padding: 3rem 0;
    background-size: contain;
}

.testo-intestazione{
    text-align: center;
    position: relative;
    width: 66%;
    top: auto;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bottoni{
    float: left;
    position: relative;
    top: 5%;
    left: 50;
    top: auto;
    left: 50%;
    transform: translate(-50%,-50%);
}

.p{
    padding: 2rem auto;
}